<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="shop.bluebooktle.frontend.Repository" level="DEBUG"/>
    <logger name="org.springframework.cloud.openfeign" level="DEBUG"/>
    <logger name="com.fasterxml.jackson.databind" level="DEBUG"/>
</configuration>