<configuration>
    <springProfile name="prod">
        <springProperty name="APP_NAME" source="spring.application.name"/>
        <springProperty name="PORT" source="server.port"/>
        <springProperty name="PROFILE" source="spring.profiles.active"/>

        <property name="LOG_FOLDER" value="logs/${PROFILE}/server"/>

        <property name="LOG_FILE" value="${LOG_FOLDER}/${APP_NAME}-${PORT}.log"/>

        <appender name="systemLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FOLDER}/${APP_NAME}-${PORT}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%throwable</pattern>
            </encoder>
        </appender>

        <logger name="shop.bluebooktle.frontend" level="INFO">
            <appender-ref ref="systemLogAppender"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="systemLogAppender"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <springProperty name="APP_NAME" source="spring.application.name"/>
        <springProperty name="PORT" source="server.port"/>
        <springProperty name="PROFILE" source="spring.profiles.active"/>

        <property name="LOG_FOLDER" value="logs/${PROFILE}/server"/>
        <property name="LOG_FILE" value="${LOG_FOLDER}/${APP_NAME}-${PORT}.log"/>

        <appender name="systemLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FOLDER}/${APP_NAME}-${PORT}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%throwable</pattern>
            </encoder>
        </appender>

        <logger name="shop.bluebooktle.frontend" level="DEBUG">
            <appender-ref ref="systemLogAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="systemLogAppender"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%15.15t]){faint}
                    %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
                </pattern>
            </encoder>
        </appender>

        <logger name="shop.bluebooktle.frontend" level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>