<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="site-footer-kitsch" th:fragment="footerFragment">
    <div class="container-kitsch footer-content-kitsch">
        <div class="footer-logo-area-kitsch">
            <a class="logo-link-kitsch" th:href="@{/}">
                <h2 class="logo-main-kitsch display-font-kitsch">Blue<span class="logo-alt-color-kitsch">Book</span>tle
                </h2>
            </a>
            <p class="handwriting-font-kitsch">즐거운 책 읽기, 블루북틀과 함께!</p>
        </div>
        <div class="footer-links-kitsch">
            <a href="/legal/terms.html" target="_blank">이용약관</a>
            <a href="/legal/privacy.html" target="_blank">개인정보처리방침</a>
            <a href="/support/faq.html" target="_blank">고객센터</a>
        </div>
        <div class="footer-social-kitsch">
            <a href="https://github.com/nhnacademy-be9-bluebooktle" target="_blank" title="github"><i
                    class="fab fa-github"></i></a>
            <a href="https://sites.google.com/g.cnu.ac.kr/nhn/6%EA%B8%B0-%EA%B5%90%EC%9C%A1%EC%9A%B4%EC%98%81?authuser=0"
               target="_blank" title="sw-academy"><i class="fab fa-solid fa-globe"></i></a>
        </div>
        <div class="footer-copyright-kitsch pixel-font-kitsch">
            &copy; <span th:text="${#dates.year(#dates.createNow())}">2024</span> Bluebooktle. All Rights Reserved.
        </div>
    </div>
</footer>
</body>
</html>