<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="site-header-kitsch" th:fragment="headerFragment">

    <div class="container-kitsch header-flex-kitsch">
        <a class="logo-link-kitsch" href="/" th:href="@{/}"><h1 class="logo-main-kitsch display-font-kitsch">Blue<span
                class="logo-alt-color-kitsch">Book</span>ttle</h1>
            <p class="logo-sub-kitsch handwriting-font-kitsch">당신을 위한 서점</p>
        </a>

        <form action="/search" class="header-search-form-kitsch" method="get" th:action="@{/search}">
            <input class="input-kitsch header-search-input-kitsch" name="query" placeholder="어떤 책을 찾으세요?"
                   type="text">
            <button class="btn-kitsch primary-btn-kitsch header-search-btn-kitsch" type="submit"><i
                    class="fas fa-search"></i></button>
        </form>

        <div class="user-actions-kitsch">
            <a class="btn-kitsch secondary-btn-kitsch color5-kitsch retro-shadow-kitsch-small" href="/login"
               th:href="@{/login}"><i
                    class="fas fa-sign-in-alt"></i> 로그인</a>
            <a class="btn-kitsch primary-btn-kitsch retro-shadow-kitsch-small" href="/signup" th:href="@{/signup}"><i
                    class="fas fa-user-plus"></i> 회원가입</a>
        </div>
    </div>
    <div class="header-marquee-kitsch">
        <p class="pixel-font-kitsch">✨ BlueBooktle에 오신 것을 환영합니다! 신간 도서 & 이벤트 확인! ✨</p>
    </div>
</header>
</body>
</html>